<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <style>
        #mytable th{
            background-color: #5b80b2;
        }

        #new_table th{
            background-color: yellow;
        }

        div:not(:first-child):not(:last-child){
            margin: 5% 0 5% 0;
        }
    </style>

</head>
<body>

    <div id="div_table">
        <table id="mytable" border="1">
            <thead>
                <tr>
                    <th>h1</th>
                    <th>h2</th>
                    <th>h3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                </tr>
            </tbody>

        </table>
    </div>

    <div></div>

    <div id="1st">
        <h1>some text!</h1>
    </div>

    <div>
        <label for="">Input :</label><br>
        <input type="text" id="input_val"><br>
        <input type="submit" id="submit"/>
    </div>

</body>


<script>

    $(document).ready(function () {
        // $('div').html('value inserted!')    // all div contents filled
        // $('div:first').html('value inserted!')    // first div contents filled
        // $('div:eq(1)').html('value inserted!')    // nth div contents filled. start with index 0
        // $('div:eq(1)').attr({'id':'new', 'class':'here!'})    // nth div contents filled. start with index 0
        // console.log($('#1st').text());  // return text of tag
        // console.log($('#1st').html());  // return contents including markup

        // $('#submit').click(function () {
        //     console.log($('#input_val').val());  // return value from form field
        // })

    //     // set html contents selected child contents replaced
    //     $('#mytable').html(`
    //         <thead>
    //             <tr>
    //                 <th>h1</th>
    //                 <th>h2</th>
    //             </tr>
    //         </thead>
    //         <tbody>
    //             <tr>
    //                 <td>new1</td>
    //                 <td>new2</td>
    //             </tr>
    //             <tr>
    //                 <td>new4</td>
    //                 <td>new5</td>
    //             </tr>
    //         </tbody>
    //     `)
    // })

    $('#div_table').html(`
            <table id="new_table" border="0">
                <thead>
                    <tr>
                        <th>h1</th>
                        <th>h3</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>6</td>
                    </tr>
                </tbody>
        </table>
        `)
    })

</script>

</html>